<!DOCTYPE html >
<!--[if lt IE 7]>      <html ng-app = "main" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app = "main" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app = "main" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app = "main" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/angular.min.js"></script>
    <style>
        .comment_form{
            width: 500px;
        }
        .ng-valid{
            border-color: #3c763d;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }
        .ng-invalid {
            border-color: #a94442;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }
        .login-form,.signup-form{
            width: 400px;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="container" ng-controller="mainCtrl">
    {% if username %}
    Welcome {{username}} <a href="/logout">Logout</a> | <a ng-click="view_type = 'new-post'" href="">New Post</a> |
    <a href="" ng-click="view_type = 'posts-list'">Home page</a>

    <p>
        {% else %}
        You are not logged in! <a href="" ng-click="view_type = 'login'">Login</a> | <a href="" ng-click="view_type = 'singup'">Sign Up</a> |
        <a href="" ng-click="view_type = 'posts-list'">Home page</a>
    <p>
        {% endif %}

    <div ng-switch="view_type"   ng-init="get_list()" class="views">
    <div ng-switch-when="login">
        <div class="login-form">
            <h2>Login</h2>

            <form name="loginForm"  method="post" novalidate ng-submit="loginForm.$valid && login(user)">
                <div class="form-group">
                    <label for="login_username">Username</label>
                    <input type="text" class="form-control" ng-model="user.username" name="username" id="login_username" value="{{username}}">
                </div>
                <div class="form-group">
                    <label for="login_password">Password</label>
                    <input type="password" class="form-control" ng-model="user.password" name="password" id="login_password" value="">
                </div>

                <input class="btn btn-default" type="submit">
            </form>
        </div>
    </div>
    <div ng-switch-when="singup">
        <div class="signup-form">
            <h2>Signup</h2>
            <div ng-bind="singup_error"></div>
            <form name = "singupForm" method="post" novalidate ng-submit="singupForm.$valid && signup(user)">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" ng-model="user.username" value="{{username}}" required>
                    <div ng-show="singupForm.username.$dirty && singupForm.username.$invalid">Invalid:
                        <span ng-show="singupForm.username.$error.required">Tell us your name.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" ng-model="user.password" value="" required>
                    <div ng-show="singupForm.password.$dirty && singupForm.password.$invalid">Invalid:
                        <span ng-show="singupForm.password.$error.required">Tell us your password.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="verify">Verify Password</label>
                    <input type="password" class="form-control" id="verify" name="verify" ng-model="user.verify" value="" required>
                    <div ng-show="singupForm.verify.$dirty && singupForm.verify.$invalid">Invalid:
                        <span ng-show="singupForm.verify.$error.required">Tell us your verify.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Email (optional)</label>
                    <input type="text" class="form-control" name="email" value="{{email}}" ng-model="user.email" required>
                    <div ng-show="singupForm.email.$dirty && singupForm.email.$invalid">Invalid:
                        <span ng-show="singupForm.email.$error.required">Tell us your email.</span>
                    </div>
                </div>
                <input class="btn btn-default" type="submit">
            </form>
        </div>
    </div>
    <div ng-switch-when="posts-list" class="post-list">
            <h1>My Blog</h1>

            <div  class="post">
                <div ng-repeat="post in posts">
                    <h2><a href="" ng-click="get_post(post.permalink)"><span ng-bind="post.title"></span></a></h2>

                    <h3>Author: <span ng-bind="post.author"></span></h3>

                    <h3>Date: <span ng-bind="post.date | date:'shortDate'"></span></h3>

                    <p ng-bind="post.body"></p>

                    <h3>Comments: <a href="" ng-click="comments_show = !comments_show">{$ post.comments.length $}</a>
                    </h3>

                    <ul ng-show="comments_show">
                        <li ng-repeat="comment in post.comments">

                            <h4 ng-bind="comment.author"></h4>
                            <h6>Email: <span ng-bind="comment.email"></span></h6>

                            <p>Likes: <span ng-bind="comment.num_likes"></span></p>

                            <p ng-bind="comment.body"></p>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-switch-when="single-post" class="single-post">
           <h2>Одиночный пост</h2>
            <h2><span ng-bind="single_post.title"></span></h2>

            <h3>Author: <span ng-bind="single_post.author"></span></h3>

            <h3>Date: <span ng-bind="single_post.date | date:'shortDate'"></span></h3>

            <p ng-bind="single_post.body"></p>

            <h3>Comments: <a href="" ng-click="comments_show = !comments_show">{$ single_post.comments.length $}</a>
            </h3>

            <ul ng-show="comments_show">
                <li ng-repeat="comment in single_post.comments">

                    <h4 ng-bind="comment.author"></h4>
                    <h6>Email: <span ng-bind="comment.email"></span></h6>

                    <p>Likes: <span ng-bind="comment.num_likes"></span></p>

                    <p ng-bind="comment.body"></p>

                </li>
            </ul>

            <h3>Add a comment</h3>

            <form class="comment_form" name="commentForm" ng-submit="commentForm.$valid && add_comment(single_post.permalink,comment)" novalidate> <!--/newcomment-->
                <div>comment form is {$ commentForm.$valid $}</div>
                <div class="from-group">
                    <input type="hidden" name="permalink" ng-model="single_post.permalink">
                    <label for = "name">Name  (required)</label>
                    <input type="text" class="form-control" name="commentName" id = "name" size="60" ng-model = "comment.name" required>
                </div>
                <div class="from-group">
                    <label for = "email">Email  (optional)</label>
                    <input type="text" class="form-control" id = "email" name="commentEmail" size="60" ng-model = "comment.email">
                </div>
                <div class="from-group">
                    <label>Comment</label>
                    <textarea name="commentBody" class="form-control" cols="60" rows="10" ng-model = "comment.body" required></textarea>
                </div>
                <div class="from-group">
                    <input type="submit" class="btn btn-default" value="Submit">
                </div>
            </form>
        </div>
    <div ng-switch-when="new-post">
        <div class="new_post">
            <form name = "newPostForm" ng-submit="newPostForm.$valid && add_new_post(post)" novalidate>
                {{errors}}
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="subject" size="120" ng-model="post.title" value="{{subject}}" required>
                </div>
                <div class="form-group">
                    <label>Blog Entry</label>
                    <textarea name="body" class="form-control" cols="120" ng-model = "post.body" rows="20" required>{{body}}</textarea>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <span>Comma separated, please</span>
                    <input type="text" class="form-control" name="tags" ng-model="post.tags" size="120" value="{{tags}}" required>
                </div>
                <input type="submit" class="btn btn-default" value="Submit">
            </form>
        </div>
    </div>
    </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>


