<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/angular.min.js"></script>
    <style>
        .signup-form{
            width: 400px;
            margin: auto;
        }
    </style>
</head>

  <body>
   <div class="container"> Already a user? <a href="/login">Login</a><p>

       <div class="signup-form"><h2>Signup</h2>

           <form method="post">
               <div class="form-group">
                   <label for="username">Username</label>
                   <input type="text" class="form-control" name="username" id="username" value="{{username}}">
                   <span>{{username_error}}</span>
               </div>
               <div class="form-group">
                   <label for="password">Password</label>
                   <input type="password" class="form-control" id="password" name="password" value="">
                   <span>{{password_error}}</span>
               </div>
               <div class="form-group">
                   <label for="verify">Verify Password</label>
                   <input type="password" class="form-control" id="verify" name="verify" value="">
                   <span>{{verify_error}}</span>
               </div>
               <div class="form-group">
                   <label for="password">Email (optional)</label>
                   <input type="text" class="form-control" name="email" value="{{email}}">
                   <span>{{email_error}}</span>
               </div>
               <input class="btn btn-default" type="submit">
           </form>
       </div>
   </div>
  </body>

</html>
