<div class="new_post">
    <form name = "newPostForm" ng-submit="newPostForm.$valid && add_new_post(post)" novalidate>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="subject" size="120" ng-model="post.title" value="" required>
        </div>
        <div class="form-group">
            <label>Blog Entry</label>
            <textarea name="body" class="form-control" cols="120" ng-model = "post.body" rows="20" required></textarea>
        </div>
        <div class="form-group">
            <label>Tags</label>
            <span>Comma separated, please</span>
            <input type="text" class="form-control" name="tags" ng-model="post.tags" size="120" value="" required>
        </div>
        <input type="submit" class="btn btn-default" value="Submit">
    </form>
</div>